/* Estilo general del cuerpo */
body {
  font-family: Arial, sans-serif; /* Fuente moderna */
  margin: 0; /* Eliminar márgenes predeterminados */
  padding: 20px; /* Agregar espacio alrededor del contenido */
  background-color: #f4f4f4; /* Color de fondo claro */
}

/* Encabezado */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Centrar el texto */
  margin-bottom: 40px; /* Agregar espacio debajo del encabezado */
}

h1 {
  color: #333; /* Color de título */
}

/* Sección "Acerca de Mí" */
section {
  padding: 20px;
}

h2 {
  color: #444; /* Color de subtítulo */
  margin-bottom: 15px; /* Agregar espacio debajo del subtítulo */
  text-align: center; /* Centrar el texto */

}

p {
  line-height: 1.6; /* Aumentar el espacio entre líneas de texto */
}

img {
  max-width: 100%; /* Ajustar el ancho de la imagen al contenedor */
  height: auto; /* Mantener la proporción de la imagen */
  margin-bottom: 20px; /* Agregar espacio debajo de la imagen */
}

/* Navegación */
nav {
  text-align: center;
  margin-bottom: 40px; /* Agregar espacio debajo de la navegación */
}

ul {
  list-style: none; /* Eliminar viñetas predeterminadas */
  padding: 0; /* Eliminar relleno predeterminado */
}

li {
  display: inline-block; /* Mostrar elementos de la lista en línea */
  margin-right: 20px; /* Agregar espacio entre elementos de la lista */
}

a {
  text-decoration: none; /* Eliminar subrayado predeterminado */
  color: #007bff; /* Color de los enlaces */
  font-weight: bold; /* Texto en negrita */
}

/* Pie de página */
footer {
  text-align: center;
  padding: 20px;
  background-color: #eee; /* Color de fondo del pie de página */
}

.contenido-centrado {
  display: flex;
  flex-direction: column; /* Ordenar elementos en columna */
  align-items: center; /* Alinear horizontalmente al centro */
  justify-content: center; /* Alinear verticalmente al centro */
}

/* Imagen redonda */
.contenido-centrado img {
  border-radius: 50%; /* Convertir la imagen en un círculo */
  margin: 0 auto; /* Centrar la imagen horizontalmente */
  border: 1px solid #000; /* Borde sutil */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}
